# Lab-1: Data Manipulation and Exploration.

In [1]:
from pandas import read_csv, Series, DataFrame, get_dummies, NA
from torch.utils.data import Dataset
import numpy as np

#### Exploration

In [2]:
test_data = read_csv("data/test.csv")

In [3]:
test_data[0:5]

,galactic year,galaxy,existence expectancy index,existence expectancy at birth,Gross income per capita,Income Index,Expected years of education (galactic years),Mean years of education (galactic years),Intergalactic Development Index (IDI),Education Index,...,Current health expenditure (% of GGP),"Intergalactic Development Index (IDI), female","Intergalactic Development Index (IDI), male",Gender Development Index (GDI),"Intergalactic Development Index (IDI), female, Rank","Intergalactic Development Index (IDI), male, Rank",Adjusted net savings,"Creature Immunodeficiency Disease prevalence, adult (% ages 15-49), total",Private galaxy capital flows (% of GGP),Gender Inequality Index (GII)
0,1007012,KK98 77,0.456086,51.562543,12236.576447,0.593325,10.414164,10.699072,0.547114,0.556267,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1007012,Reticulum III,0.529835,57.228262,3431.883825,0.675407,7.239485,5.311122,0.497688,0.409969,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1008016,Reticulum III,0.560976,59.379539,27562.914252,0.594624,11.774890,5.937797,0.544744,0.486167,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1007012,Segue 1,0.565910,59.952390,20352.232905,0.837700,11.613621,10.067882,0.691641,0.523441,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1013042,Virgo I,0.588274,55.428320,23959.704016,0.520579,10.392416,6.374637,0.530676,0.580418,...,7.357729,0.583373,0.600445,0.856158,206.674424,224.104054,NaN,7.687626,NaN,NaN

In [4]:
Series(test_data["galactic year"], [i for i in range(10)]).to_frame().T

,0,1,2,3,4,5,6,7,8,9
galactic year,1007012,1007012,1008016,1007012,1013042,1012036,1011030,1009020,1007012,1010025

In [5]:
Series(test_data["galactic year"], [i for i in range(10)]).name

'galactic year'

In [6]:
test_data.iloc[0].to_frame().T

,galactic year,galaxy,existence expectancy index,existence expectancy at birth,Gross income per capita,Income Index,Expected years of education (galactic years),Mean years of education (galactic years),Intergalactic Development Index (IDI),Education Index,...,Current health expenditure (% of GGP),"Intergalactic Development Index (IDI), female","Intergalactic Development Index (IDI), male",Gender Development Index (GDI),"Intergalactic Development Index (IDI), female, Rank","Intergalactic Development Index (IDI), male, Rank",Adjusted net savings,"Creature Immunodeficiency Disease prevalence, adult (% ages 15-49), total",Private galaxy capital flows (% of GGP),Gender Inequality Index (GII)
0,1007012,KK98 77,0.456086,51.562543,12236.576447,0.593325,10.414164,10.699072,0.547114,0.556267,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
test_data.index

RangeIndex(start=0, stop=890, step=1)

#### One-hot-encoding of categorical feature
1. Why to encode the categorical feature?
<span style="color:blue">Because most of the machine learning and basic deep learning algorithms can only accept numerical data and features.</span>
<br> <br>
2. Why one-hot-encoding form? why not give each category in the feature a specific code value?
<span style="color:blue"> Giving each category a number (e.g. giving categories: red, blue, black -> 1, 2, 3) will indicate to the learning algorithm that there's some ordering (e.g., black is larger than red) which is not true as the categories are nominal.
<br> <br>
3. How many new features will be added? What if we have some missing values, which is the case in this dataset?
<span style="color:blue"> Usually the number of new features is #categories - 1, as one indicator variable can be infered from the others. NaN maybe treated as an extra type
<br> <br>
4. When is it appropriate to give each category an encoding value?
<span style="color:blue"> It will be appropriate if the categorical feature is ordinal (e.g, small, medium, large). Then it is reasonable approach to give them ordered values without transform it to one-hot-encoding form (i.e., small -> 1, medium -> 2, large -> 3).

In [8]:
get_dummies(test_data, columns=["galaxy"]).head().loc[:, "galaxy_Andromeda I":]

,galaxy_Andromeda I,galaxy_Andromeda II,galaxy_Andromeda III,galaxy_Andromeda IX,galaxy_Andromeda V,galaxy_Andromeda VIII,galaxy_Andromeda X,galaxy_Andromeda XI,galaxy_Andromeda XV,galaxy_Andromeda XVII,...,galaxy_UGCA 292,galaxy_UGCA 438 (ESO 407-018),galaxy_UGCA 86,galaxy_UGCA 92,galaxy_Ursa Major I Dwarf (UMa I dSph),galaxy_Ursa Major II Dwarf,galaxy_Ursa Minor Dwarf,galaxy_Virgo I,galaxy_Willman 1,"galaxy_Wolf-Lundmark-Melotte (WLM, DDO 221)"
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0

#### Data Imputation

By imputation, we refer to filling the missing values in the dataset.
Several issues to address:
1. Why we should fill them? Why not remove the rows that has missing values?
<span style="color:blue">Most of the machine learning algorithms can’t deal with missing values cell (NA/NAN). Removing the rows/cols that have missing values could be an option when the missing values in some rows/cols is a few and the to-be-deleted rows/cols are few comparing to what’s left. However, they are usually not deleted (why?), Some information will be lost due to the deletion which is the non-missing values, so it is better not to lose them. </span>
<br><br>
2. Filling it with constant value for each value, but what’s it?
<span style="color:blue">Estimating a constant value that best to represent the feature is trivially chosen to be the expected value of this feature, which is the mean. Other options is to use some other central tendency measures like the median, mode or mid-range but the best practice is to use mean or median for numerical continuous features and use mode for the discrete ones.</span>
<br><br>
3. (Advanced) Estimate the filling value, each row for its own.
<span style="color:blue">There’s another option of filling the missing values is to infer them from the rest of the data by regression/classification models (one for each feature). </span>
<br><br>
4. How to choose the imputation strategy?
<span style="color:blue">It can be treated as a hyperparamter and choose the best option using a validation set or cross-validation (to be explained).</span>
<br><br>
5. (Not related only to imputations) Why we fit the imputer to the training data not the concatenation of both train and test set?
<span style="color:blue">This would cause data leakage to the model. This means the model got some information from the testset which shouldn’t be considered at all before the testing step. So, the testset shouldn’t affect the preprocessing in anyway (e.g., data imputation or scaling). Same goes for validation set. </span>

In [9]:
partially_filled = test_data.fillna(test_data.mean(numeric_only=True))
partially_filled.head()

,galactic year,galaxy,existence expectancy index,existence expectancy at birth,Gross income per capita,Income Index,Expected years of education (galactic years),Mean years of education (galactic years),Intergalactic Development Index (IDI),Education Index,...,Current health expenditure (% of GGP),"Intergalactic Development Index (IDI), female","Intergalactic Development Index (IDI), male",Gender Development Index (GDI),"Intergalactic Development Index (IDI), female, Rank","Intergalactic Development Index (IDI), male, Rank",Adjusted net savings,"Creature Immunodeficiency Disease prevalence, adult (% ages 15-49), total",Private galaxy capital flows (% of GGP),Gender Inequality Index (GII)
0,1007012,KK98 77,0.456086,51.562543,12236.576447,0.593325,10.414164,10.699072,0.547114,0.556267,...,8.936240,0.848007,0.862777,1.015743,128.712080,128.635268,20.640391,6.036133,23.274262,0.563059
1,1007012,Reticulum III,0.529835,57.228262,3431.883825,0.675407,7.239485,5.311122,0.497688,0.409969,...,8.936240,0.848007,0.862777,1.015743,128.712080,128.635268,20.640391,6.036133,23.274262,0.563059
2,1008016,Reticulum III,0.560976,59.379539,27562.914252,0.594624,11.774890,5.937797,0.544744,0.486167,...,8.936240,0.848007,0.862777,1.015743,128.712080,128.635268,20.640391,6.036133,23.274262,0.563059
3,1007012,Segue 1,0.565910,59.952390,20352.232905,0.837700,11.613621,10.067882,0.691641,0.523441,...,8.936240,0.848007,0.862777,1.015743,128.712080,128.635268,20.640391,6.036133,23.274262,0.563059
4,1013042,Virgo I,0.588274,55.428320,23959.704016,0.520579,10.392416,6.374637,0.530676,0.580418,...,7.357729,0.583373,0.600445,0.856158,206.674424,224.104054,20.640391,7.687626,23.274262,0.563059

In [10]:
table = []
for name in partially_filled.columns:
    table.append({"name": name, "NAN count": partially_filled[name].isna().sum()})
nan_count = DataFrame(table).sort_values(by="NAN count", ascending=False)
nan_count.T

,0,50,57,56,55,54,53,52,51,49,...,29,21,28,27,26,25,24,23,22,78
name,galactic year,"Mean years of education, male (galactic years)",Rural population with access to electricity (%),"Estimated gross galactic income per capita, fe...","Estimated gross galactic income per capita, male",Renewable energy consumption (% of total final...,"Maternal mortality ratio (deaths per 100,000 l...","Expected years of education, male (galactic ye...","Expected years of education, female (galactic ...","Mean years of education, female (galactic years)",...,Employment in agriculture (% of total employment),"Life expectancy at birth, male (galactic years)","Unemployment, total (% of labour force)",Vulnerable employment (% of total employment),Total unemployment rate (female to male ratio),"Adolescent birth rate (births per 1,000 female...",Young age (0-14) dependency ratio (per 100 cre...,"Population, under age 5 (millions)","Life expectancy at birth, female (galactic years)",Gender Inequality Index (GII)
NAN count,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [11]:
assert not nan_count["NAN count"].any()

In [12]:
test_data.loc[101:110, "galaxy"] = NA
test_data.loc[103, "galaxy"]

In [13]:
print("Before", end=": "); print(test_data.loc[:, "galaxy"].isna().sum())
mode = test_data.loc[:, "galaxy"].mode()
test_data.loc[:, "galaxy"] = test_data.loc[:, "galaxy"].fillna(mode)
print("After", end=": "); print(test_data.loc[:, "galaxy"].isna().sum())

Before: 10
After: 10

#### Feature Scaling

1. Why we need to make all the features have same range of values?
<span style="color:blue">This has something to do with some machine learning algorithms. First, gradient-related algorithms (e.g., linear regression, logisitic regression, deep learning algorithms): feature scaling is important for the congergence of the algorithms as the gradient in one direction/feature could need more/long steps than the others and the scaling solves this issue and make the training stable and relatively faster.</span>
<br></br>
<span style="color:blue">Second, distance related algorithms (e.g., KNN, K-means). These algorithms depends on the distance between samples both in training and testing. Having features with different ranges would affect the distance measure and produce biased prediciton to the features with larger range. for example: having two features (length in KM [10: 10000] and temperature in C° [20: 40]). The distance value will be much affected by the length feature.</span>
<br></br>
2. What are the different strategies to scale the features?
* <span style="color:blue">Min-Max scaling: transform all features to fall in this range: [0, 1].</span>
$$x_i = \frac{x_i - min(\mathbf{x})}{max(\mathbf{x}) - min(\mathbf{x})}\\$$
* <span style="color:blue; padding-left:50em">Standard scaling: transform all features to have mean = 0 and standard deviation = 1. And by assuming that all features follow normal distribution, we can say that standard scaling turns featrues to be $\sim N(0,1)$.</span>
$$x_i = \frac{x_i - mean(\mathbf{x})}{stdev(\mathbf{x})}\\$$
* <span style="color:blue">Robust scaling: robust to the outliers that may affect the previous methods in calculating their mean, stdev, min, or max. It uses the interquartile range to scale the features according to it.</span>
$$x_i = \frac{x_i - Q_1(\mathbf{x})}{Q_3(\mathbf{x}) - Q_1(\mathbf{x})}\\$$
3. How to choose the strategy?
<span style="color:blue">Same as in imputation strategy, using a validation set or using cross-validation.</span>

#### DataLoaders
The need for DataLoaders stems from having to deal with large datasets that would otherwise take up large memory space on our computer, memory that could be used to speed up computation is instead being used to hold dormant data.

Large datasets are increasingly becoming part of our lives, as we are able to harness an ever-growing quantity of data. As such, we need ways to handle these dat in our machine learning model efficiently without wasting our resources.

The batch size defines the number of samples that will be propagated through the network.

#### Batch Size

For instance, let's say you have 1_050 training samples and you want to set up a batch_size equal to 100. The algorithm takes the first 100 samples (from 1st to 100th) from the training dataset and trains the network. Next, it takes the second 100 samples (from 101st to 200th) and trains the network again. We can keep doing this procedure until we have propagated all samples through of the network. Problem might happen with the last set of samples. For example, we have 1050 samples which is not divisible by 100 without remainder. The simplest solution is just to get the final 50 samples and train the network.

Advantages of using a batch size < number of all samples:
* It requires less memory. Since you train the network using fewer samples, the overall training procedure requires less memory.
* Typically, networks train faster with mini-batches. That's because we update the weights after each propagation.

Disadvantages of using a batch size < number of all samples:
* The smaller the batch the less accurate the estimate of the gradient will be.

#### Epoch
* one epoch = one forward pass and one backward pass of all the training examples
* batch size = the number of training examples in one forward/backward pass. The higher the batch size, the more memory space you'll need and the faster the convergence of model.
* number of iterations = number of passes, each pass using [batch size] number of examples. To be clear, one pass = one forward pass + one backward pass (we do not count the forward pass and backward pass as two different passes).

Example: if you have 1000 training examples, and your batch size is 500, then it will take 2 iterations to complete 1 epoch.

#### Optimal Batch Size
Optimizing the exact size of the mini-batch you should use is generally left to trial and error. Let's take the two extremes, on one side each gradient descent step is using the entire dataset. You're computing the gradients for every sample. In this case you know exactly the best directly towards a local minimum. You don't waste time going the wrong direction. So in terms of numbers gradient descent steps, you'll get there in the fewest.

Of course computing the gradient over the entire dataset is expensive. So now we go to the other extreme. A batch size of just 1 sample. In this case the gradient of that sample may take you completely the wrong direction. But hey, the cost of computing the one gradient was quite trivial. As you take steps with regard to just one sample you "wander" around a bit, but on the average you head towards an equally reasonable local minimum as in full batch gradient descent.

This might be a moment to point out that I have seen some literature suggesting that perhaps this bouncing around that 1-sample stochastic gradient descent might help you bounce out of a local minima that full batch mode wouldn't avoid, but that's debatable. Some other good answers here address this question more directly than I have.

In terms of computational power, while the single-sample stochastic GD process takes many many more iterations, you end up getting there for less cost than the full batch mode, "typically."

We might realize that modern BLAS libraries make computing vector math quite efficient, so computing 10 or 100 samples at once, presuming you've vectorized your code properly, will be barely more work than computing 1 sample (you gain memory call efficiencies as well as computational tricks built into most efficient math libraries). And averaging over a batch of 10, 100, 1000 samples is going to produce a gradient that is a more reasonable approximation of the true, full batch-mode gradient. So our steps are now more accurate, meaning we need fewer of them to converge, and at a cost that is only marginally higher than single-sample GD.

In [14]:
class TitanicDataset(Dataset):
    def __init__(self, path: str):
        self.data = read_csv(path)
        self.classes = dict()

    def __len__(self):
        return self.data.index.stop

    def one_hot_encode(self, data: Series):
        name = data.name
        types = data.unique()

    def row_transform(self, row: Series):
        pass

    def __getitem__(self, idx):
        # Should return a tensor tuple: (input, output)
        return self.row_transform(
            self.data.iloc[idx]
        )

In [15]:
test_data = TitanicDataset("data/test.csv")
train_data = TitanicDataset("data/train.csv")